<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<array>
		<string>Brisk 5-minute warm-up walk</string>
		<string>Alternate 3 minutes of jogging and 2 minutes of walking.</string>
		<string>Repeat 6 times for a total of 30 minutes</string>
		<string>Followed by a 5-minute cool down</string>
	</array>
	<key>warmup</key>
	<dict>
		<key>activity</key>
		<string>Walk</string>
		<key>duration</key>
		<integer>5</integer>
	</dict>
	<key>intervals</key>
	<dict>
		<key>repeats</key>
		<integer>6</integer>
		<key>phases</key>
		<array>
			<dict>
				<key>activity</key>
				<string>Jog</string>
				<key>duration</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>activity</key>
				<string>Walk</string>
				<key>duration</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>cooldown</key>
	<dict>
		<key>activity</key>
		<string>Walk</string>
		<key>duration</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
